body {
    background-color:rgb(0, 0, 0);
    margin: 0;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(184, 184, 184)
}

.container {
    height: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 12fr 1fr 1fr 1fr 1fr 1fr;
}

.box {
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* /// CABECERA /// */

.header {
    background-color: rgba(0, 0, 0, 0.841);
    display: flex;
    position: fixed;
    width: 100vw;
    z-index: 20;

}

.header-video {
    grid-column: 1 / 6;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12vh;
}

.h1 {
    width: 80vw;
    display: flex;
    justify-items: flex-start;
    align-items: center;
    margin: 20px;
    padding-left: 40px;
    gap: 10px
}

.h2 {
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 20px;
    gap: 10px
}

.logo {
    width: 100px;
    margin-right: 20px;
}

.finder {
    width: 30px;
}

.bell {
    width: 25px;
}

.avatar {
    width: 25px;
}

/* // Puente 1 // */

.box3 {
    grid-column: 1 / 6;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 10px;
    font-size: large;
}

.content {
    width: 100%
}


@media (min-width: 361px){
    .element-h-left-dsk{
        display: none;
    }

    .image-mobile {
        display: none;
    }
}

.container-logo-video-big{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    z-index: 10;
    margin-left: 100px;
}

.container-logo-video {
    width: 400px;
}

#logo-arcane {

    width: 100%;
}

#texto-video {
    color: rgb(214, 217, 219);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-shadow: 3px 3px 5px black;
}

#reproducir {
    background-color: azure;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#reproducir:hover {
    background-color: rgba(240, 255, 255, 0.438);
    cursor: pointer;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 16px solid black;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

.botones-centro {
    display: flex;
}

#mas-informacion {
    background-color: rgba(124, 124, 124, 0.552);
    width: 170px;
    height: 35px;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 10px;
    color: azure;
}

#info-logo {
    width: 22px;
}

#mas-informacion:hover {
    background-color:rgba(154, 154, 154, 0.289);
    cursor: pointer;
}